<ul class='left'>
  <li><%= sortable 'freshest', 'tweet_date' %></li>
  <li><%= sortable 'ripest', 'tweet_date', 'ASC' %></li>
  <li><%= sortable 'sweetest', 'favorite_count' %></li>
  <li><%= sortable 'juiciest', 'retweet_count' %></li>
  <li><%= shufflable 'unpickiest'%></li>
</ul>